#login_container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#login_container .sa_left {
  height: 100%;
  width: 40%;
  background-color: #28a9e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sa_left .sa_logo {
  width: 40%;
}

.sa_logo img {
  height: 100%;
  width: 100%;
}

#login_container .ss_right {
  height: 100%;
  width: 60%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ss_right .top_help {
  align-self: flex-end;
}

.ss_right .login_main_container {
  width: 70%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.login_main_container .right_container_heading {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.login_main_container .forgot_headline {
  margin: 2rem 0 1.5rem 0;
  color: grey;
  font-weight: 500;
}

.input_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.input_group label {
  font-size: 1.2rem;
  font-weight: 500;
}

.input_group input {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 0.8rem;
  outline: none;
  border-radius: 0.3rem;
}

.input_error {
  color: red;
}

.pass_icon {
  position: absolute;
  right: 2%;
  top: 54%;
}

.forgot_div {
  align-self: flex-end;
  margin-bottom: 2rem;
}

.auth_btn {
  border: none;
  background: #28a9e2;
  border-radius: 0.4rem;
  color: #fff;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}
